<h1 id="pageHeader">Burgers!</h1>

<div class="formDiv">
    <div>
        <h2 id="formHeader">Place Your Order Here!</h2>
    </div>
    <br>
    <div>
        <form class="create-form">

            <div class="form-group">
                <label for="ca">Your desired burger:</label>
                <input type="text" id="ca" name="name">
            </div>

            <button type="submit" id="submitButton">Add Burger</button>
        </form>
    </div>
</div>

<br>

<div class="row">
    <div class="col-6 burger-columns">
        <h2>Your current awaiting orders:</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>{{burger_name}}</li>
            <button class="change-to-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                {{#if devoured}}Reorder this burger!{{else}}Eat this burger!{{/if}}
            </button>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6 burger-columns">
        <h2>Burgers that you've eaten:</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>{{burger_name}}</li>
            <button class="change-from-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                {{#if devoured}}Reorder this burger!{{else}}Eat this burger!{{/if}}
            </button>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>